[package]
name = "colon_sim"
version = "0.1.0"
edition = "2024"

[dependencies]
bevy = "0.17.3"
bevy_rapier3d = { version = "0.32", features = [ "simd-stable", "debug-render-3d" ] }
smallvec = "1.13"
